@using WebsiteGiay.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<style>
    #divDoiMK {
        margin: 20px 70px;
    }

</style>


<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Đổi mật khẩu<span></span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <ul class="w3_short">
                    <li><a href="index.html">Đăng nhập</a><i>|</i></li>
                    <li>Đổi mật khẩu</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>


<div class="row" id="divDoiMK">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
